html, body{
    height: 100%;
    margin:0px;
    padding: 0px;
}
.text-placeholder{
    height: 100%;
}

.placheholder-div{
    height: 100%;
    border: solid black 2px;
    box-shadow: 5px 10px 18px #888888 inset;
}